In [18]:
pip install --upgrade pip

Requirement already satisfied: pip in /opt/conda/lib/python3.9/site-packages (24.3.1)
Note: you may need to restart the kernel to use updated packages.

In [19]:
import numpy as np
import pandas as pd
!pip install seaborn
 
# For visualization
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
pd.options.display.max_rows = None
pd.options.display.max_columns = None

Requirement already satisfied: seaborn in /opt/conda/lib/python3.9/site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in /opt/conda/lib/python3.9/site-packages (from seaborn) (1.26.4)
Requirement already satisfied: pandas>=1.2 in /opt/conda/lib/python3.9/site-packages (from seaborn) (2.2.0)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in /opt/conda/lib/python3.9/site-packages (from seaborn) (3.9.2)
Requirement already satisfied: contourpy>=1.0.1 in /opt/conda/lib/python3.9/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.3.0)
Requirement already satisfied: cycler>=0.10 in /opt/conda/lib/python3.9/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /opt/conda/lib/python3.9/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.55.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /opt/conda/lib/python3.9/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.7)
Requirement already satisfied: packaging>=20.0 in /opt/conda/lib/python3.9/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (23.2)
Requirement already satisfied: pillow>=8 in /opt/conda/lib/python3.9/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (11.0.0)
Requirement already satisfied: pyparsing>=2.3.1 in /opt/conda/lib/python3.9/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.2.0)
Requirement already satisfied: python-dateutil>=2.7 in /opt/conda/lib/python3.9/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: importlib-resources>=3.2.0 in /opt/conda/lib/python3.9/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (6.4.5)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.9/site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/conda/lib/python3.9/site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: zipp>=3.1.0 in /opt/conda/lib/python3.9/site-packages (from importlib-resources>=3.2.0->matplotlib!=3.6.1,>=3.4->seaborn) (3.19.2)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.9/site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.16.0)

In [72]:
from fosforml.model_manager.snowflakesession import get_session

my_session = get_session()

table_name = 'DATAANALYSISFINAL24'

sf_df = my_session.sql("select * from {}".format(table_name))

df = sf_df.to_pandas()

In [73]:
df.head()

,DATE,DRUG_ID,CUSTOMER_NAME,VOLUME,UNIT_PRICE,TOTAL,Discount%,CUSTOMER,CITY,REGION,COUNTRY,NAME,SEGMENT
0,2014-01-02,Drug 1,CS56,0.00,500,0.0,5,Dr Reddy's,Sydney,Asia-Pacific,Australia,anx 10mg,Antianxiety
1,2014-01-02,Drug 2,CS48,3.67,70,256.9,7,Pfizer,Toronto,North America,Canada,anx 50mg,Antianxiety
2,2014-01-02,Drug 3,CS78,3.40,20,68.0,5,GSK,Oslo,Northern Europe,Norway,and 15mg,Antidiarrheal
3,2014-01-02,Drug 4,CS02,32.40,14,453.6,7,GSK,Pune,South Asia,India,and 20mg,Antidiarrheal
4,2014-01-02,Drug 5,CS56,7.00,1200,8400.0,3,Dr Reddy's,Sydney,Asia-Pacific,Australia,anp 30mg,Antihypertensives

In [74]:
df.shape

(16848, 13)

In [75]:
df.isnull().sum()

DATE             0
DRUG_ID          0
CUSTOMER_NAME    0
VOLUME           0
UNIT_PRICE       0
TOTAL            0
Discount%        0
CUSTOMER         0
CITY             0
REGION           0
COUNTRY          0
NAME             0
SEGMENT          0
dtype: int64

In [76]:
df.nunique()

DATE             2106
DRUG_ID            10
CUSTOMER_NAME      80
VOLUME           1356
UNIT_PRICE          8
TOTAL            1461
Discount%           4
CUSTOMER            8
CITY               10
REGION              7
COUNTRY             9
NAME                9
SEGMENT             5
dtype: int64

In [77]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16848 entries, 0 to 16847
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   DATE           16848 non-null  object
 1   DRUG_ID        16848 non-null  object
 2   CUSTOMER_NAME  16848 non-null  object
 3   VOLUME         16848 non-null  float64
 4   UNIT_PRICE     16848 non-null  int16
 5   TOTAL          16848 non-null  float64
 6   Discount%      16848 non-null  int8
 7   CUSTOMER       16848 non-null  object
 8   CITY           16848 non-null  object
 9   REGION         16848 non-null  object
 10  COUNTRY        16848 non-null  object
 11  NAME           16848 non-null  object
 12  SEGMENT        16848 non-null  object
dtypes: float64(2), int16(1), int8(1), object(9)
memory usage: 1.5+ MB

In [78]:
data=df.copy()

In [79]:
data.head()

,DATE,DRUG_ID,CUSTOMER_NAME,VOLUME,UNIT_PRICE,TOTAL,Discount%,CUSTOMER,CITY,REGION,COUNTRY,NAME,SEGMENT
0,2014-01-02,Drug 1,CS56,0.00,500,0.0,5,Dr Reddy's,Sydney,Asia-Pacific,Australia,anx 10mg,Antianxiety
1,2014-01-02,Drug 2,CS48,3.67,70,256.9,7,Pfizer,Toronto,North America,Canada,anx 50mg,Antianxiety
2,2014-01-02,Drug 3,CS78,3.40,20,68.0,5,GSK,Oslo,Northern Europe,Norway,and 15mg,Antidiarrheal
3,2014-01-02,Drug 4,CS02,32.40,14,453.6,7,GSK,Pune,South Asia,India,and 20mg,Antidiarrheal
4,2014-01-02,Drug 5,CS56,7.00,1200,8400.0,3,Dr Reddy's,Sydney,Asia-Pacific,Australia,anp 30mg,Antihypertensives

In [80]:
from sklearn.preprocessing import OneHotEncoder
import pandas as pd
data_subset = data[['CITY', 'REGION', 'COUNTRY', 'SEGMENT', 'NAME']]
 
# Initialize the OneHotEncoder
encoder = OneHotEncoder(sparse=False, drop=None)
 
# Fit and transform the data
encoded_data = encoder.fit_transform(data_subset)
 
# Convert the encoded data to a DataFrame
encoded_df = pd.DataFrame(encoded_data, columns=encoder.get_feature_names_out(data_subset.columns))
 
# Display the first few rows of the encoded DataFrame
print(encoded_df.head())

   CITY_Berlin  CITY_Mumbai  CITY_New York  CITY_Oslo  CITY_Paris  CITY_Pune  \
0          0.0          0.0            0.0        0.0         0.0        0.0
1          0.0          0.0            0.0        0.0         0.0        0.0
2          0.0          0.0            0.0        1.0         0.0        0.0
3          0.0          0.0            0.0        0.0         0.0        1.0
4          0.0          0.0            0.0        0.0         0.0        0.0

   CITY_Stockholm  CITY_Sydney  CITY_Tokyo  CITY_Toronto  REGION_Asia-Pacific  \
0             0.0          1.0         0.0           0.0                  1.0
1             0.0          0.0         0.0           1.0                  0.0
2             0.0          0.0         0.0           0.0                  0.0
3             0.0          0.0         0.0           0.0                  0.0
4             0.0          1.0         0.0           0.0                  1.0

   REGION_Central Europe  REGION_East Asia  REGION_Europe  \
0                    0.0               0.0            0.0
1                    0.0               0.0            0.0
2                    0.0               0.0            0.0
3                    0.0               0.0            0.0
4                    0.0               0.0            0.0

   REGION_North America  REGION_Northern Europe  REGION_South Asia  \
0                   0.0                     0.0                0.0
1                   1.0                     0.0                0.0
2                   0.0                     1.0                0.0
3                   0.0                     0.0                1.0
4                   0.0                     0.0                0.0

   COUNTRY_Australia  COUNTRY_Canada  COUNTRY_France  COUNTRY_Germany  \
0                1.0             0.0             0.0              0.0
1                0.0             1.0             0.0              0.0
2                0.0             0.0             0.0              0.0
3                0.0             0.0             0.0              0.0
4                1.0             0.0             0.0              0.0

   COUNTRY_India  COUNTRY_Japan  COUNTRY_Norway  COUNTRY_Sweden  COUNTRY_USA  \
0            0.0            0.0             0.0             0.0          0.0
1            0.0            0.0             0.0             0.0          0.0
2            0.0            0.0             1.0             0.0          0.0
3            1.0            0.0             0.0             0.0          0.0
4            0.0            0.0             0.0             0.0          0.0

   SEGMENT_Antianxiety  SEGMENT_Antidepressant  SEGMENT_Antidiarrheal  \
0                  1.0                     0.0                    0.0
1                  1.0                     0.0                    0.0
2                  0.0                     0.0                    1.0
3                  0.0                     0.0                    1.0
4                  0.0                     0.0                    0.0

   SEGMENT_Antihistamine  SEGMENT_Antihypertensives  NAME_and 15mg  \
0                    0.0                        0.0            0.0
1                    0.0                        0.0            0.0
2                    0.0                        0.0            1.0
3                    0.0                        0.0            0.0
4                    0.0                        1.0            0.0

   NAME_and 20mg  NAME_and 30mg  NAME_anh 10mg  NAME_anh 5mg  NAME_anp 30mg  \
0            0.0            0.0            0.0           0.0            0.0
1            0.0            0.0            0.0           0.0            0.0
2            0.0            0.0            0.0           0.0            0.0
3            1.0            0.0            0.0           0.0            0.0
4            0.0            0.0            0.0           0.0            1.0

   NAME_anp 40mg  NAME_anx 10mg  NAME_anx 50mg
0            0.0            1.0            0.0
1            0.0            0.0            1.0
2            0.0            0.0            0.0
3            0.0            0.0            0.0
4            0.0            0.0            0.0

In [81]:
data=pd.concat([data,encoded_df],axis=1)

In [82]:
data.head()

,DATE,DRUG_ID,CUSTOMER_NAME,VOLUME,UNIT_PRICE,TOTAL,Discount%,CUSTOMER,CITY,REGION,COUNTRY,NAME,SEGMENT,CITY_Berlin,CITY_Mumbai,CITY_New York,CITY_Oslo,CITY_Paris,CITY_Pune,CITY_Stockholm,CITY_Sydney,CITY_Tokyo,CITY_Toronto,REGION_Asia-Pacific,REGION_Central Europe,REGION_East Asia,REGION_Europe,REGION_North America,REGION_Northern Europe,REGION_South Asia,COUNTRY_Australia,COUNTRY_Canada,COUNTRY_France,COUNTRY_Germany,COUNTRY_India,COUNTRY_Japan,COUNTRY_Norway,COUNTRY_Sweden,COUNTRY_USA,SEGMENT_Antianxiety,SEGMENT_Antidepressant,SEGMENT_Antidiarrheal,SEGMENT_Antihistamine,SEGMENT_Antihypertensives,NAME_and 15mg,NAME_and 20mg,NAME_and 30mg,NAME_anh 10mg,NAME_anh 5mg,NAME_anp 30mg,NAME_anp 40mg,NAME_anx 10mg,NAME_anx 50mg
0,2014-01-02,Drug 1,CS56,0.00,500,0.0,5,Dr Reddy's,Sydney,Asia-Pacific,Australia,anx 10mg,Antianxiety,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,2014-01-02,Drug 2,CS48,3.67,70,256.9,7,Pfizer,Toronto,North America,Canada,anx 50mg,Antianxiety,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,2014-01-02,Drug 3,CS78,3.40,20,68.0,5,GSK,Oslo,Northern Europe,Norway,and 15mg,Antidiarrheal,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2014-01-02,Drug 4,CS02,32.40,14,453.6,7,GSK,Pune,South Asia,India,and 20mg,Antidiarrheal,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2014-01-02,Drug 5,CS56,7.00,1200,8400.0,3,Dr Reddy's,Sydney,Asia-Pacific,Australia,anp 30mg,Antihypertensives,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [83]:
data.drop(['CITY', 'REGION', 'COUNTRY', 'SEGMENT', 'NAME'], axis=1, inplace=True)

In [84]:
data.head()

,DATE,DRUG_ID,CUSTOMER_NAME,VOLUME,UNIT_PRICE,TOTAL,Discount%,CUSTOMER,CITY_Berlin,CITY_Mumbai,CITY_New York,CITY_Oslo,CITY_Paris,CITY_Pune,CITY_Stockholm,CITY_Sydney,CITY_Tokyo,CITY_Toronto,REGION_Asia-Pacific,REGION_Central Europe,REGION_East Asia,REGION_Europe,REGION_North America,REGION_Northern Europe,REGION_South Asia,COUNTRY_Australia,COUNTRY_Canada,COUNTRY_France,COUNTRY_Germany,COUNTRY_India,COUNTRY_Japan,COUNTRY_Norway,COUNTRY_Sweden,COUNTRY_USA,SEGMENT_Antianxiety,SEGMENT_Antidepressant,SEGMENT_Antidiarrheal,SEGMENT_Antihistamine,SEGMENT_Antihypertensives,NAME_and 15mg,NAME_and 20mg,NAME_and 30mg,NAME_anh 10mg,NAME_anh 5mg,NAME_anp 30mg,NAME_anp 40mg,NAME_anx 10mg,NAME_anx 50mg
0,2014-01-02,Drug 1,CS56,0.00,500,0.0,5,Dr Reddy's,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,2014-01-02,Drug 2,CS48,3.67,70,256.9,7,Pfizer,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,2014-01-02,Drug 3,CS78,3.40,20,68.0,5,GSK,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2014-01-02,Drug 4,CS02,32.40,14,453.6,7,GSK,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2014-01-02,Drug 5,CS56,7.00,1200,8400.0,3,Dr Reddy's,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [85]:
X=data.drop(['DATE','DRUG_ID','CUSTOMER_NAME','CUSTOMER'],axis=1)

In [86]:
X.head()

,VOLUME,UNIT_PRICE,TOTAL,Discount%,CITY_Berlin,CITY_Mumbai,CITY_New York,CITY_Oslo,CITY_Paris,CITY_Pune,CITY_Stockholm,CITY_Sydney,CITY_Tokyo,CITY_Toronto,REGION_Asia-Pacific,REGION_Central Europe,REGION_East Asia,REGION_Europe,REGION_North America,REGION_Northern Europe,REGION_South Asia,COUNTRY_Australia,COUNTRY_Canada,COUNTRY_France,COUNTRY_Germany,COUNTRY_India,COUNTRY_Japan,COUNTRY_Norway,COUNTRY_Sweden,COUNTRY_USA,SEGMENT_Antianxiety,SEGMENT_Antidepressant,SEGMENT_Antidiarrheal,SEGMENT_Antihistamine,SEGMENT_Antihypertensives,NAME_and 15mg,NAME_and 20mg,NAME_and 30mg,NAME_anh 10mg,NAME_anh 5mg,NAME_anp 30mg,NAME_anp 40mg,NAME_anx 10mg,NAME_anx 50mg
0,0.00,500,0.0,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,3.67,70,256.9,7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,3.40,20,68.0,5,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,32.40,14,453.6,7,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,7.00,1200,8400.0,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [51]:
data.drop(['DATE', 'DRUG_ID', 'CUSTOMER_NAME', 'CUSTOMER'], axis=1, inplace=True)

In [52]:
data.head()

,VOLUME,UNIT_PRICE,TOTAL,Discount%,CITY_Berlin,CITY_Mumbai,CITY_New York,CITY_Oslo,CITY_Paris,CITY_Pune,CITY_Stockholm,CITY_Sydney,CITY_Tokyo,CITY_Toronto,REGION_Asia-Pacific,REGION_Central Europe,REGION_East Asia,REGION_Europe,REGION_North America,REGION_Northern Europe,REGION_South Asia,COUNTRY_Australia,COUNTRY_Canada,COUNTRY_France,COUNTRY_Germany,COUNTRY_India,COUNTRY_Japan,COUNTRY_Norway,COUNTRY_Sweden,COUNTRY_USA,SEGMENT_Antianxiety,SEGMENT_Antidepressant,SEGMENT_Antidiarrheal,SEGMENT_Antihistamine,SEGMENT_Antihypertensives,NAME_and 15mg,NAME_and 20mg,NAME_and 30mg,NAME_anh 10mg,NAME_anh 5mg,NAME_anp 30mg,NAME_anp 40mg,NAME_anx 10mg,NAME_anx 50mg
0,0.00,500,0.0,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,3.67,70,256.9,7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,3.40,20,68.0,5,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,32.40,14,453.6,7,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,7.00,1200,8400.0,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [26]:
import subprocess
import sys

# Function to install a package
def install(package):
    subprocess.check_call([sys.executable, "-m", "pip", "install", package])

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16848 entries, 0 to 16847
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   DATE           16848 non-null  object
 1   DRUG_ID        16848 non-null  object
 2   CUSTOMER_NAME  16848 non-null  object
 3   VOLUME         16848 non-null  float64
 4   UNIT_PRICE     16848 non-null  int16
 5   TOTAL          16848 non-null  float64
 6   Discount%      16848 non-null  int8
 7   CUSTOMER       16848 non-null  object
 8   CITY           16848 non-null  object
 9   REGION         16848 non-null  object
 10  COUNTRY        16848 non-null  object
 11  NAME           16848 non-null  object
 12  SEGMENT        16848 non-null  object
dtypes: float64(2), int16(1), int8(1), object(9)
memory usage: 1.5+ MB

In [28]:
import pandas as pd
from statsmodels.tsa.holtwinters import ExponentialSmoothing
import matplotlib.pyplot as plt
# Convert the DATE column to datetime format
df['DATE'] = pd.to_datetime(df['DATE'])

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16848 entries, 0 to 16847
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   DATE           16848 non-null  datetime64[ns]
 1   DRUG_ID        16848 non-null  object
 2   CUSTOMER_NAME  16848 non-null  object
 3   VOLUME         16848 non-null  float64
 4   UNIT_PRICE     16848 non-null  int16
 5   TOTAL          16848 non-null  float64
 6   Discount%      16848 non-null  int8
 7   CUSTOMER       16848 non-null  object
 8   CITY           16848 non-null  object
 9   REGION         16848 non-null  object
 10  COUNTRY        16848 non-null  object
 11  NAME           16848 non-null  object
 12  SEGMENT        16848 non-null  object
dtypes: datetime64[ns](1), float64(2), int16(1), int8(1), object(8)
memory usage: 1.5+ MB

In [31]:
data=df.copy()

In [32]:
data.head()

,DATE,DRUG_ID,CUSTOMER_NAME,VOLUME,UNIT_PRICE,TOTAL,Discount%,CUSTOMER,CITY,REGION,COUNTRY,NAME,SEGMENT
1970-01-01,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
import pandas as pd
import matplotlib.pyplot as plt
from statsmodels.tsa.seasonal import seasonal_decompose
from statsmodels.tsa.holtwinters import ExponentialSmoothing

# Ensure the DATE column is in datetime format
df['DATE'] = pd.to_datetime(df['DATE'])

# Ensure the DateTime index has a frequency
df = df.asfreq('D')

# Check for missing values and handle them if necessary
df['VOLUME'] = df['VOLUME'].fillna(method='ffill')

# Decompose the time series data
decomposition = seasonal_decompose(df['VOLUME'], model='additive')

# Plot the decomposition
fig = decomposition.plot()
plt.show()

# Plot the VOLUME data
plt.figure(figsize=(10, 6))
plt.plot(df['VOLUME'], label='VOLUME')
plt.title('Daily VOLUME Data')
plt.xlabel('Date')
plt.ylabel('VOLUME')
plt.legend()
plt.show()

# Split the data into training and testing sets
train_data = df['VOLUME'][:int(0.8*(len(df)))]
test_data = df['VOLUME'][int(0.8*(len(df))):]

# Apply Exponential Smoothing for forecasting
model = ExponentialSmoothing(train_data, seasonal='add', seasonal_periods=12).fit()
forecast = model.forecast(steps=len(test_data))

# Plot the forecasted data
plt.figure(figsize=(10, 6))
plt.plot(train_data, label='Training Data')
plt.plot(test_data, label='Test Data')
plt.plot(forecast, label='Forecasted Data')
plt.title('Time Series Forecasting of VOLUME')
plt.xlabel('Date')
plt.ylabel('VOLUME')
plt.legend()
plt.show()

# Print the forecasted values
print(forecast)

ValueError: This function does not handle missing values

In [ ]:
print(df.head())

In [ ]:
df.index = pd.to_datetime(df.index)

In [ ]:
df = df.asfreq('D')  # 'D' for daily frequency, adjust as needed

In [ ]:
df['VOLUME'] = df['VOLUME'].fillna(method='ffill')

In [ ]:
from statsmodels.tsa.seasonal import seasonal_decompose

decomposition = seasonal_decompose(df['VOLUME'], model='additive')

# Plot the decomposition
fig = decomposition.plot()
plt.show()

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
from statsmodels.tsa.seasonal import seasonal_decompose
import numpy as np

# Ensure the index is a DateTime index
df.index = pd.to_datetime(df.index)

# Set the frequency of the time series
df = df.asfreq('D')

# Check for missing values and handle them if necessary
df['VOLUME'] = df['VOLUME'].fillna(method='ffill').fillna(method='bfill')

# Ensure all values are finite
df = df[np.isfinite(df['VOLUME'])]

# Decompose the time series data
decomposition = seasonal_decompose(df['VOLUME'], model='additive')

# Plot the decomposition
fig = decomposition.plot()
plt.show()

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from statsmodels.tsa.seasonal import seasonal_decompose

# Sample dataset based on the provided structure
data = {
    'DATE': pd.date_range(start='1/1/2020', periods=16848, freq='D'),
    'DRUG_ID': ['DrugA']*16848,
    'CUSTOMER_NAME': ['Customer1']*16848,
    'VOLUME': [100.0]*16848,
    'UNIT_PRICE': [10]*16848,
    'TOTAL': [1000.0]*16848,
    'Discount%': [5]*16848,
    'CUSTOMER': ['Customer1']*16848,
    'CITY': ['CityA']*16848,
    'REGION': ['RegionA']*16848,
    'COUNTRY': ['CountryA']*16848,
    'NAME': ['NameA']*16848,
    'SEGMENT': ['SegmentA']*16848
}

# Create DataFrame
df = pd.DataFrame(data)

# Ensure the index is a DateTime index
df.set_index('DATE', inplace=True)

# Set the frequency of the time series
df = df.asfreq('D')

# Check for missing values and handle them if necessary
df['VOLUME'] = df['VOLUME'].fillna(method='ffill').fillna(method='bfill')

# Ensure all values are finite
df = df[np.isfinite(df['VOLUME'])]

# Decompose the time series data
decomposition = seasonal_decompose(df['VOLUME'], model='additive')

# Plot the decomposition
fig = decomposition.plot()
plt.show()

In [ ]:
df.head()